
API_ID=28282552
API_HASH=06ad1abdda545bdf50dec7fe3569acd4
TOKEN=6368560127:AAFzcxbhsnPyF1AqWOimmydZo530kjqjrf8
STRING=BQGvjrgAuvnF5qcwUSyLDKyfvcTHGsO5HSzeg1gUorzuIeN7xsPO8dwG-UucKNdI_NGI45l4ZZonFSfLDtAg8ya9X28Gg9BHbs083v2b9amMP_hkBC0FgwUFILUpaOx79qpxrbgPc9bTkshSSWxk211LtAzY7ex2AIVE6fI3SbPEd7T2MUllN4uyufgBu2VvC6-Dk_PcljCg6NlDtBXLdMUbVH71diygz7HOIEE5zkuveoACUB5lxhooFX6O92hUpBe2kKuyuL-0h3xAlLQ_QlTxKNYJOu9uOrz3Iq-B8hfFD4pXfROXoK0uHajSFdy9dOp_udCgyMVmKC1VP777FPjkpoKAcQAAAAGTTzphAA
STRING2=
OWNER_ID=5443081541
MONGO_URI=mongodb+srv://newmushhj:adrama123@cluster0.tjt43l2.mongodb.net/?retryWrites=true&w=majority
API_URL=
API_KEY=
COOKIES_URL=https://batbin.me/outportion
DEFAULT_SERVICE=youtube
MUSIC_BOT_NAME=ADL Music
IMG_URL=https://graph.org/file/5eab90b289460bd2e9036.jpg
